name: Main

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

env:
  PYTHON: python

jobs:
  lint-check:
    name: Code lint check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: make prereq

      - name: Run linters
        run: make lint
